.hero {
	display: flex;
	margin-bottom: 6rem;
}

.hero--content,
.hero--showcase {
	height: calc(100svh - 10rem);
	align-content: center;
	/* border: 2px solid red; */
}

.hero--content {
	width: 100%;
	height: fit-content;
}

.hero--content-title {
	font-size: 3rem;
	line-height: 3rem;
	text-align: center;
	padding: 2rem 0;
	margin-top: 2rem;
}
.hero--content-title span {
	color: var(--primary);
}

.hero--content-description {
	color: gray;
	padding-bottom: 1.2rem;
	width: 100%;
	font-size: 1rem;
	text-align: center;
}

.primary-button {
	background: var(--primary);
	color: white !important;
}
.secondary-button {
	background: none;
	color: var(--primary) !important;
	border: 1px solid var(--primary);
}
.hero--button {
	width: 100%;
}
.hero--button.secondary-button i,
.hero--button.primary-button i {
	margin-right: 0.3rem;
}
.hero--button.secondary-button i {
	color: var(--primary);
}
.hero--button.primary-button i {
	color: white;
}

.hero--button-container {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	gap: 0.8rem;
	margin-top: 1rem;
}

.hero--showcase-image {
	width: 120%;
	position: absolute;
	top: 29.5%;
	left: 0;
	z-index: 1;
}

.hero--showcase-image-bg {
	width: 80%;
	margin-left: 35%;
}
.hero--showcase-image,
.hero--showcase-image-bg {
	transform: translateX(-5rem);
}
.hero--showcase {
	display: none;
}
.steps {
	min-height: 100vh;
	width: 100%;
}

.steps--title-container {
	text-align: center;
	margin-bottom: 2rem;
}
.steps--item-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.steps--item-card-container {
	width: 100%;
}
/* .steps--item-index {
	font-size: 1.8rem;
	text-align: center;
	padding: 1.5rem 0;
} */

.steps--item-index {
	font-size: 1.8rem;
	text-align: center;
	padding: 0 0 3rem 0;
	color: white;
	font-weight: 500;
	letter-spacing: 0.1rem;
	/* background: red; */
}
.steps--item-card {
	position: relative;
	width: 100%;
	height: 35rem;
	background: gray;
	overflow: hidden;
	border-radius: 1rem;
}

.steps--item-card:after {
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
}
.steps--item-card img {
	position: absolute;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.steps--item-button {
	width: fit-content;
	margin: 0 auto;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.steps--item-button i {
	color: white !important;
}
.steps--title span {
	color: var(--primary);
}

.steps--item-card-content--group {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.steps--item-card-content--group p {
	color: white;
	padding: 1.5rem 0 1.5rem 0;
}
.steps--item-card-content--title {
	font-size: 2rem;
	color: white;
	font-weight: 600;
}

.steps--item-card-content {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	padding: 1rem 1.5rem;
	border: 1px solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.steps--item-card-content--icon img {
	width: 50%;
	height: 50%;
	position: absolute;
	object-fit: contain;
}
.steps--item-card-content--icon {
	background: var(--primary);
	border-radius: 50%;
	width: 8rem;
	height: 8rem;
	margin: 0 auto;
	margin-bottom: 2rem;
	position: relative;
	display: grid;
	place-items: center;
}

.car--brands {
	min-height: 100svh;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 4rem 0;
}

.car--brands-sub-heading {
	text-align: center;
}

.sub-heading {
	font-size: 1.1rem;
	color: var(--primary);
	font-weight: 500;
}

.secondary-title {
	font-size: 2rem;
	line-height: 2.5rem;
}

.car--brands-content {
	width: 100%;
}

.car--brands-title {
	padding: 0.5rem 0 0.8rem 0;
	text-align: center;
}

.car--brands-description {
	padding: 1rem 0 1.8rem 0;
	color: gray;
}

.primary-line--short {
	width: 3rem;
	height: 3px;
	background: var(--primary);
}

.car--brands-line {
	margin: auto;
}

.car--brands-showcase {
	width: 100%;
}

.car--brands-grid {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.car--brands-grid-item {
	border: 1px solid rgba(222, 222, 222, 0.642);
	width: 100%;
	height: 8rem;
	display: grid;
	place-items: center;
	overflow: hidden;
}
.car--brands-grid-item img {
	width: 60%;
}

.car--brands-button-sm {
	margin: 2rem auto;
	width: 100%;
}

.popular--section {
	min-height: 80svh;
}

.popular--container {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	justify-content: center;
	align-items: center;
	column-gap: 0.5rem;
	row-gap: 1rem;
}

.popular--card {
	width: 100%;
	height: 18rem;
	background: red;
	border-radius: 8px;
	position: relative;
	overflow: hidden;
}
.popular--card img:hover {
	scale: 1.03;
}
.popular--card img:hover ~ .popular--card-content {
	opacity: 0;
}

.popular--card > img:hover + .popular--card-overlay {
	opacity: 0;
}
.popular--card img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 700ms;
	cursor: pointer;
}

.popular--card-content * {
	color: white;
}

.popular--card-title {
	font-size: 0.8rem;
	font-weight: 500;
	padding-right: 2rem;
	text-shadow: 1px 1px black;
}

.popular--card-stars i {
	font-size: 0.6rem;
	color: #ffc107;
}

.popular--card-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0.5rem 0.4rem;
	z-index: 10;
	transition: all 400ms;
}

.popular--card-details h6 {
	font-weight: 500;
}
.popular--card-details {
	padding: 0.1rem 0 0 0;
	font-size: 1rem;
	/* display: none; */
	align-items: center;
	justify-content: space-between;
	display: flex;
}

.popular--card-details-price {
	line-height: 0.8rem;
}
.popular--card-details-price h5 {
	font-size: 0.9rem;
	font-weight: 500;
	font-family: "Inter", sans-serif;
}
.popular--card-details-price p {
	font-size: 0.6rem;
	text-align: right;
}

.popular--card-button {
	padding: 0.8rem 0;
	font-size: 0.8rem;
	width: 100%;
	margin-top: 0.4rem;
	cursor: pointer;
}

.popular--card-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.3) 40%,
		rgba(0, 0, 0, 1) 100%
	);
	z-index: 10;
	pointer-events: none;
	transition: all 500ms ease;
}

.reviews-container--title {
	text-align: center;
	margin-bottom: 2rem;
	font-size: 1.4rem;
}
.reviews-card--container {
	display: flex;
	align-items: center;
	gap: 4rem;
}

.reviews-container {
	min-height: 100vh;
	padding: 10rem 0;
	/* margin: 5rem 0; */
}
.reviews-card--comment {
	/* background-color: #fafafa; */
	background: #f9f9f9;
	padding: 2rem;
	border-radius: 13px;
	position: relative;
}

.reviews-card {
	transition: all 350ms ease;
	width: 100%;
}

/* SELECT MIDDLE CARD BUBBLE*/
.swiper-slide:nth-of-type(2) .reviews-card--comment,
.swiper-slide:nth-of-type(2) .reviews-card--comment::after,
.swiper-slide:nth-of-type(2) .reviews-card--comment > p {
	background: var(--primary) !important;
	color: white !important;
}

.reviews-rating--container {
	display: flex;
	justify-content: center;
	gap: 0.2rem;
	padding: 0 0 1.5rem 0;
}
.reviews-rating--container i {
	color: rgb(241, 218, 14);
}

.reviews-card--comment p {
	font-weight: 500;
}
.reviews-card--comment::after {
	content: "";
	width: 3rem;
	height: 3rem;
	background: #f9f9f9;
	position: absolute;
	transform: rotate(45deg);
	left: 50%;
	bottom: -5%;
	z-index: -1;
	margin-left: -25px;
}
.review-user {
	margin-top: 3rem;
	text-align: center;
}
.review-user img {
	width: 3.4rem;
	height: 3.4rem;
	border-radius: 50%;
}
.review-user h5 {
	font-size: 1.2rem;
	font-weight: 600;
}
.review-user p {
	font-size: 0.9rem;
	color: gray;
	padding: 0.3rem 0;
}

.faq {
	min-height: 70vh;
	margin-top: 4rem;
}

.FAQ-container {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	border: 1px solid var(--super-light-gray);
	border-radius: var(--border-radius);
}

.faq-subtitle {
	padding: 1.5rem 1rem;
}

.accordion {
	/* border: 2px solid red; */
	padding: 1rem;
	margin: 1rem 0;
}

.accordion-title {
	/* outline: 1px solid blue; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.accordion-title h3 {
	font-weight: 500;
	padding-right: 1rem;
	color: gray;
}

.accordion-content {
	height: 0;
	overflow: hidden;
	transition: all 300ms ease;
}

.accordion.active .accordion-panel--show {
	height: fit-content;
	padding: 0.5rem 0;
	/* border-bottom: 2px solid var(--super-light-gray); */
}

.accordion-caret-rotate-up {
	rotate: 180deg;
	transition: all 200ms;
}

.accordion--icon-container i {
	font-size: 1.4rem !important;
	color: gray;
}

.accordion:hover .accordion-title h3,
.accordion:hover .accordion--icon-container i {
	color: var(--primary);
}

.accordion.active .accordion-title h3,
.accordion.active .accordion--icon-container i {
	color: var(--primary);
}

.swiper {
	width: 100%;
	height: fit-content;
	--swiper-pagination-color: var(--primary);
	/* border: 1px solid red; */
}
.swiper-slide {
	padding: 0 1.8rem 4rem 1.8rem;
}
.swiper-button-next::after {
	content: "" !important;
}
.swiper-button-prev::after {
	content: "" !important;
}
.swiper-button-prev,
.swiper-button-next {
	--swiper-navigation-sides-offset: 0;
	font-size: 1.2rem;
}
:host >>> .swiper-pagination {
	pointer-events: all !important;
}

/* TABLET SIZE */
@media (min-width: 768px) {
	.hero--showcase {
		display: inline-block;
		width: 50%;
		position: relative;
	}

	.hero--content {
		width: 50%;
	}
	.hero--content-title {
		font-size: 4rem;
		line-height: 3.9rem;
		text-align: left;
		padding-bottom: 0.5rem;
	}
	.hero--content-description {
		color: gray;
		padding-top: 1.3rem;
		padding-bottom: 3rem;
		width: 90%;
		text-align: left;
		font-size: 0.8rem;
	}
	.hero--button-container {
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 1rem;
		margin-top: 0;
	}
	.hero--button {
		width: fit-content;
		font-size: 0.8rem;
		padding: 0.8rem 1.5rem;
	}
	.hero--showcase-image {
		width: 120%;
		position: absolute;
		top: 38.5%;
		left: 0;
		z-index: 1;
	}

	.hero--showcase-image-bg {
		width: 80%;
		margin-left: 35%;
	}
	.hero--showcase-image,
	.hero--showcase-image-bg {
		transform: translateX(-5rem) scale(1.05);
	}
	.car--brands-grid-item {
		height: 10rem;
	}

	.car--brands-grid-item img {
		width: 50%;
	}

	.car--brands-grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.popular--card-details {
		padding: 0.5rem 0 0 0;
		font-size: 0.9rem;
		display: flex;
		justify-content: space-between;
	}
}

/* Laptop SIZE */
@media (min-width: 1024px) {
	.hero--showcase {
		display: inline-block;
		width: 50%;
		position: relative;
	}

	.hero--content {
		width: 50%;
	}
	.hero--content-title {
		font-size: 5rem;
		line-height: 5.4rem;
		text-align: left;
		padding-bottom: 0.5rem;
	}
	.hero--content-description {
		color: gray;
		padding-top: 1.3rem;
		padding-bottom: 3rem;
		width: 90%;
		text-align: left;
		font-size: 1rem;
	}
	.hero--button-container {
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 1rem;
	}
	.hero--button {
		width: fit-content;
		padding: 0.8rem 3.5rem;
		font-size: 1.2rem;
	}

	.hero--showcase-image {
		width: 120%;
		position: absolute;
		top: 29.5%;
		left: 0;
		z-index: 1;
	}

	.hero--showcase-image-bg {
		width: 80%;
		margin-left: 35%;
	}
	.hero--showcase-image,
	.hero--showcase-image-bg {
		transform: translateX(-5rem);
	}

	.car--brands {
		min-height: 80vh;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0;
		/* margin-bottom: 10rem; */
	}
	.car--brands-content {
		width: 40%;
	}
	.car--brands-showcase {
		width: 70%;
		padding-left: 2rem;
	}
	.secondary-title {
		font-size: 3rem;
		line-height: 4rem;
	}
	.car--brands-title {
		padding: 0.5rem 0 0 0;
		text-align: left;
	}
	.car--brands-sub-heading {
		text-align: left;
	}
	.car--brands-line {
		margin: 0;
	}
	.car--brands-grid-item img {
		width: 65%;
	}
	.car--brands-grid {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.swiper-wrapper {
		padding-top: 3rem;
	}
	.swiper-slide:nth-of-type(2) .reviews-card {
		transform: translateY(-2rem);
	}
	.swiper-slide:nth-of-type(2) .reviews-card:hover {
		transform: translateY(-2rem) scale(0.98);
	}

	.reviews-card:hover {
		transform: scale(0.98);
	}
	.reviews-container {
		padding: 0;
	}
	.reviews-container--title {
		text-align: center;
		margin-bottom: 4rem;
		font-size: 1.8rem;
	}
	.lg {
		display: inline-block;
	}
	.sm {
		display: none;
	}

	.steps--item-container {
		flex-direction: row;
		gap: 1rem;
		margin-top: 4rem;
	}
	.steps--item-card {
		position: relative;
		width: 80%;
		/* height: 30rem; */
		height: 27rem;
		background: gray;
		overflow: hidden;
		border-radius: 1rem;
		margin: 0 auto;
	}
	.steps {
		padding: 4rem 0;
	}
	.steps--item-card-container:nth-of-type(2) {
		transform: scale(1.2);
	}
	.steps--item-card-container:nth-of-type(1) {
		transform: skewX(2deg);
	}
	.steps--item-card-container:nth-of-type(3) {
		transform: skewX(-2deg);
	}

	.steps--title {
		font-size: 2.5rem;
	}

	.steps--item-index {
		font-size: 1.2rem;
	}

	.steps--item-card-content--icon {
		width: 5rem;
		height: 5rem;
	}
	.steps--item-card-content--title {
		font-size: 1.3rem;
	}
	.steps--item-card-content--group p {
		color: white;
		padding: 1.5rem 0 1.5rem 0;
	}
	.steps--item-button {
		width: fit-content;
		margin: 0 auto;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-size: 0.9rem !important;
	}
	.steps--item-card > img {
		transition: all 400ms ease-in-out;
	}
	.steps--item-card-container:hover .steps--item-card > img {
		transform: scale(1.05);
	}

	.faq {
		min-height: 70vh;
	}

	.FAQ-container {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 1rem;
	}

	.FAQ-container > :first-child {
		position: relative;
		/* border-right: 3px solid var(--light-gray);
		pa-right: 1rem; */
	}

	.FAQ-container > :first-child::after {
		content: "";
		position: absolute;
		right: -0.6rem;
		top: 0;
		width: 1px;
		border-radius: var(--border-radius);
		height: 100%;
		background: var(--super-light-gray);
	}

	.popular--container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	.popular--card {
		width: 100%;
		height: 31rem;
		background: red;
		border-radius: 8px;
		position: relative;
		overflow: hidden;
	}
	.popular--card-stars i {
		font-size: 0.8rem;
		color: #ffc107;
	}
	.popular--card-details {
		padding: 0.5rem 0 0 0;
		font-size: 1.2rem;
	}

	.popular--card-details-price {
		line-height: 1.1rem;
	}
	.popular--card-details-price h5 {
		font-size: 1.1rem;
		font-weight: 500;
		font-family: "Inter", sans-serif;
	}
	.popular--card-details-price p {
		font-size: 0.8rem;
		text-align: right;
	}
	.popular--card-title {
		font-size: 1.2rem;
		font-weight: 500;
		padding-right: 8rem;
		text-shadow: 1px 1px black;
	}

	.popular--card-button {
		font-size: 1rem;
		width: 100%;
		margin-top: 1rem;
		cursor: pointer;
	}

	.popular--card-content {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 0.8rem 0.8rem;
		z-index: 10;
	}
}
