* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.swiper {
	width: 100%;
	height: 300px;
	border: 1px solid red;
}
.swiper-pagination-bullet-active {
	background-color: red;
}

.swiper-wrapper {
	display: flex;
}

.swiper-button-prev::after {
	content: "";
}
.swiper-button-prev {
	color: red;
	/* --swiper-navigation-size: 1.5rem; */
	font-size: 1.2rem;
}
